# Ignore directories for building distributions.
build
dblayer.egg-info
dist
.pytest_cache

# Ignore Jupyter notebook temporary files
examples/.ipynb_checkpoints

# Ignore pyc files.
*.pyc

# Ignore files from testing.
*.log
*TMP_FOLDER

# Ignore files from running the CityDB installation scripts.
*3dcitydb_*

# Ignore emacs back-up files.
*~
